<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> My name is Vijay, and.I have 3.5 months of  React trainee  experience. I possess a deep understanding of React and its ecosystem, including proficiency in JavaScript, HTML, and CSS. I Have idea in using Redux for state management and React Router for seamless navigation. I stay up-to-date with the latest industry trends and continually expand my knowledge through online courses and .</p>
                </div>
                <div class="col-lg-4">
                    <p>I'm enthusiastic about the opportunity to join a company where I can contribute my skills and passion for React development to build innovative applications. I'm eager to explore new challenges and continue expanding my expertise in this field.Thank you for vsiting my website I looking forward to discussing further and learning more about the exciting projects at your company.</p>
                </div>
            </div>
        </div>
    </section>